body{
	/*  */
	background-image:url("../imagenes/fondo.jpg");
	font-family:"Book Antiqua";
	color:#0D0C0C;
	font-size:40px;
	}
	p{
		text-align:justify;
		color:#FCFCFC;
		font-size:20px;
	}
		hr{
			border:5px solid #9B59B6;
			border-radius:5px;
		}
	
		table,tr,td{
			/*Groser de la linea en pixeles, tipo de linea*/ 
	border:3px solid;
	border-color:#5B2C6F; /*color de relleno de la tabla*/ 
	background-color:#D6EAF8;
	} 
		th{ 
		background-color:#17202A;
	} 
		ul{
			list-style-type:circle; 
	 list-style-position:inside;
	 } 
		ol{ 
		list-style-type:upper-roman; 
	 list-style-position:inside;
	 } 
		.pie{ 
		text-align:center; 
	font-size:15px;
	color:#5B2C6F;
	font-family:Arial, Biondi, "lucida console"
	font-weigt:bold;
	} 
		.titulo{
			font-family:"Comic Sans MS";
	font-size:68px;
	color:#9B59B6; 
	text-align:center;
	} 
		.tablas{ 
		font-family:"Comic Sans MS"; 
	font-size:15px; 
	color:#17202A; 
	}
	.marquee{
		height:400px;
		width:600px;
	}
	.hipervinculo{
		height:180px;
		width:180px;
		border-radius:10%;
	}
	.imagentabla{
		height:275px;
		width:150px;
	}
	.otrasimagenes{
		height:200px;
		width:200px;
		border-radius:3%;
	}
	*{
		margin:0px;
		padding:0px:
	}
	
	
	div#titulo{
		width:100%;
		height:150px;
		background-color:purple;
		}
		
	div#principal{
		margin:auto;
		margin-top:20px;
		width:80%;
		height:1500px;
		background-image:radial-gradient(#7D52AD ,#F6F1F6 );
	}
	div#foot{
		margin:auto;
		margin-top:10px;
		width:80%;
		height:180px;
		background-color:purple;
	}
	
	div#pie{
		width:100%;
		height:300px;
		background-image:url("../imagenes/fondo2.jpg");
	}
	.caja{
		height:300px;
		width:250px;
		background:#eee;
		border:1px solid #eee;
		margin:5px;
		color:black;
		text-align:center;
		display:inline-block;
	}
	.caja:hover{
		box-shadow:0 0 10px purble;
		transform:scale(1.3);
	}
	.caja-texto{
		padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:pink;
	font-weight:bold;
	}
	
	.texto-adicional{
		padding-top:20px;
		font-size:15;
	}
	.carrousel{
    width: 600px;
    margin:auto;
    box-sizing: border-box;
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px;
    box-sizing: border-box;
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}
/*
#itemCarrousel-1{
    background-color: red;
}

#itemCarrousel-2{
    background-color:blue;
}

#itemCarrousel-3{
    background-color: green;
}
#itemCarrousel-4{
    background-color: purple;
}
*/
.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.conteCarrouselController > a{
    text-decoration: none;
    font-size: 32px;
    color: grey;
}
.itemCarrouselArrows > a > i{
    color: white;
}

	linea{
		/*Margin es para agregar espacio Externo entre elementos*/
		margin-top:5px;
		width: 100%;
		display:block;
		border:5px solid #D2B4DE; 
		border-radius:5px; 
		}
		/*color de fondo de cada item*/
		
		#itemcarrousel-1{ 
		background-color: purple; 
		} 
		#itemcarrousel-2{
			background-color:blue;
			}
			#itemcarrousel-3{
				background-color: pink;
				} 
				#itemcarrousel-4{ 
				background-color:purple;
				}
				/*Esta en cada pagina de productos*/ 
				/*Padding es para agregar espacio Interno dentro del elemento*/
				
				.menu{ 
				/*height es altura y width anchura*/
				height:300px; 
				width:500px;
				background-color: #D2BCF3;
				border:1px solid #eee;
				margin:5px; 
				display:inline-block; 
				text-align:left;
				font-family:"Comic Sans MS";
				font-size:25px;
				}
				/*Efecto sombra del menu*/ 
				.menu:hover{
					box-shadow:0 0 10px blue;
					}
					/*Encabezados*/ 
					@font-face{ 
					 Font-family: fuente;
					 src: url(../fuentes/ParchomScript.ttf);
					 }
					 /*Titulos*/ 
					 @font-face{ 
					 Font-family: fuente2;
					 src: url(../fuentes/AYUMA.ttf);
					 }
					 
					/*subtitulos*/
					 @font-face{ 
					 Font-family:fuente3
					 src:url(../fuentes/AbbassyScript.ttf);
					 }
					 /*Pie de Pagina*/
					 @font-face{ 
					 Font-family:fuente4
					 src:url(../fuentes/AQuietSleep.ttf);
					 }
					 
					 fuente2; src: url(../fuentes/AYUMA.tt
	
	